.App .container {
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/clouds.jpg");
  background-size: cover;
  display: block;
  margin: 80px auto;
  padding: 40px;
  border-radius: 12px;
  width: 750px;
}

.App .footer-container {
  text-align: center;
}

.App a:link {
  text-decoration: none;
}