.App .Weather {
  font-family: "Rubik", sans-serif;
  background-image: url("../images/clouds.jpg");
  background-size: cover;
  display: block;
  margin: 80px auto;
  padding: 40px;
  border-radius: 12px;
  width: 750px;
}

.App .footer-container {
  text-align: center;
}

.App .footer-container a:link {
  text-decoration: none;
}
