.App .container {
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/clouds.jpg");
  background-size: cover;
  display: block;
  margin: 80px auto;
  padding: 40px;
  border-radius: 12px;
  width: 750px;
}

.App .footer-container {
  text-align: center;
  font-size: 15px;
}

.App a:link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .App .container {
    margin: 40px auto;
    padding: 20px;
  }

  .App .footer-container {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .App .container {
    margin: 20px auto;
    padding: 20px;
    width: 350px;
  }

  .App .footer-container {
    width: 350px;
    margin: 0 auto;
  }
}
