.city {
  font-weight: 700;
  margin: 34px 0 0 10px;
  vertical-align: middle;
  font-size: 50px;
}

.date-update {
  font-weight: 500;
  font-size: 13px;
  display: block;
  margin: 5px 0 0 10px;
  padding-left: 3px;
}

.current-icon canvas {
  vertical-align: middle;
  margin: 0 8px 5px -25px;
}

.current-temperature {
  font-weight: 700;
  vertical-align: middle;
  font-size: 54px;
  margin: 4px 2px 0 0;
}

.WeatherParameters {
  text-align: center;
}

.unit {
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  margin: 14px 0 0;
}

.float-left {
  display: inline-block;
}

.weather-description {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin: -12px 0 -3px;
}

.wind-humidity-parameters {
  font-size: 14px;
  font-weight: 500;
  padding-top: 4px;
}

@media (max-width: 768px) {
  .city {
    font-size: 44px;
    margin: 24px 0 0 10px;
  }

  .date-update {
    font-size: 12px;
    margin: 2px 0 0 8px;
  }

  .current-temperature {
    font-size: 40px;
  }

  .weather-description {
    font-size: 20px;
    margin: -6px 0 -3px;
  }

  .wind-humidity-parameters {
    font-size: 12px;
  }

  .unit {
    margin: 9px 0 0 0;
  }
}

@media (max-width: 576px) {
  .WeatherInfo .row {
    display: block;
    margin: 0 auto;
  }

  .WeatherInfo .col-7,
  .WeatherInfo .col-5 {
    display: block;
    margin: 0 auto;
    width: 350px;
    text-align: center;
  }

  .city {
    font-size: 44px;
  }

  .current-temperature {
    font-size: 44px;
  }

  .weather-description {
    font-size: 20px;
    margin: -5px 0 -3px;
  }

  .wind-humidity-parameters {
    font-size: 12px;
  }

  .unit {
    margin: 9px 0 0 0;
  }
}
