.WeatherInfo {
  padding: 0 20px 0 30px;
  vertical-align: middle;
}

.City {
  font-weight: 700;
  display: block;
  margin: 20px 0 0 10px;
  font-size: 48px;
}

.date-update {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 8px 0 0 20px;
  padding-left: 3px;
}

.current-date {
  font-weight: 500;
  font-size: 14px;
}

.current-icon {
  width: 85px;
  height: 85px;
  margin-left: 20px;
}

.current-temperature {
  font-weight: 700;
  vertical-align: middle;
  font-size: 48px;
  margin: 5px 0 0 -4px;
}

.WeatherParameters {
  text-align: center;
  margin-top: -8px;
}

.degree {
  font-weight: 500;
  float: right;
  font-size: 22px;
  margin: 22px 50px 0 -20px;
}

.fahrenheit {
  font-weight: 500;
  font-size: 14px;
  float: right;
  margin: 25px 2px 0 0;
}

.weather-description {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin: -15px 0 -3px;
}

.wind-humidity-parameters {
  font-size: 12px;
  font-weight: 500;
  padding-top: 30px;
}
