.city {
  font-weight: 700;
  margin: 32px 0 0 10px;
  vertical-align: middle;
  font-size: 48px;
}

.date-update {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 0 0 0 10px;
  padding-left: 3px;
}

.current-icon {
  width: 85px;
  height: 85px;
  margin-left: 10px;
}

.current-temperature {
  font-weight: 700;
  vertical-align: middle;
  font-size: 50px;
  margin: 5px 0 0 -4px;
}

.WeatherParameters {
  text-align: center;
  vertical-align: middle;
}

.degree {
  font-weight: 500;
  float: right;
  font-size: 20px;
  margin: 22px 40px 0 -18px;
}

.fahrenheit {
  font-weight: 500;
  font-size: 12px;
  float: right;
  margin: 25px 3px 0 0;
}

.weather-description {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin: -22px 0 -3px;
}

.wind-humidity-parameters {
  font-size: 14px;
  font-weight: 500;
  padding-top: 4px;
}
